$primary   : #732933;
$secondary : #26A69A;
$accent    : #9C27B0;
$dark      : #1D1D1D;
$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

// UX & Mobile Standards
$font-size-base: 16px;
$button-border-radius: 8px;
$generic-border-radius: 8px;
